<!-- Aca traigo a todo los componentes que necesito que estan distribuidos -->
<app-nav></app-nav>
<app-hero [Top10]="arrayTop10" ></app-hero>
<app-info-films [infoAllFilms]="arrayComedia"></app-info-films>
<app-info-films [infoAllFilms]="arrayAction"></app-info-films>
<app-info-films [infoAllFilms]="arrayTerror"></app-info-films>
<app-info-films [infoAllFilms]="arrayDrama"></app-info-films>
<app-info-films [infoAllFilms]="arrayAnime"></app-info-films>
<!-- Luego de esto ir a app.component.ts para crear los elementos a utilizar (tiene que coincidir con esto) -->